@media(min-width:1200px){

    .oneContainer>section>button:hover{
        border-radius:8px;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    }
    .threeContainer>div>button:hover{
        border-radius:8px;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    }
    .head>section>p:hover{
        font-size: 19px;
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color:black;
    }
}